/* GENERAL STYLE */
body {
    font-family: "Open Sans";
    width: 80%;
    margin: 10%;
    background-color: #F6F1F1;
}

h3 {
    text-align: center;
}

/* Plot Styling*/
.plot_box {
    width: 70%;

}

.plot_container {
    margin-top: 50px;
    display: flex;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: white;
}

.iframe_plot {
    border: 0px;
    height: 100%;


}

.json_box {
    width: 26%;
    margin: 2%;
}

.json_wrapper {
    padding: 2%;
    width: 100%;
    background: transparent;
    color: black;
    height: 500px;
    white-space: pre-wrap;
    overflow-y: scroll;

    background-color: #f9f9f9;
    border-radius: 5px;
}
